.div {
display: grid;
grid-template-columns: auto auto;
}

.content{
position: relative;
background-color: aqua;
}
#sform {
    position: relative;
    margin-left: 0%;
    bottom: 705px;
    z-index: -1;
}
#fform {
    position: relative;
    padding-bottom: 90px;
    margin-right: 0.5%;
    z-index: 1;
}
#secondtable {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 90px;
}